h1 {
  text-align: center;
  font-family: Montserrat;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 70%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}



.overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1029;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Montserrat';
}
.popup .close {
  position: absolute;
  transition: all 200ms;
  font-weight: normal;
  text-decoration: none;
  font-size: ;
  color: #000;
  font-size: 15px;
}
.popup .close:hover {
  color: #f42a2a;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.pop-form .pop{
  border-bottom: 1px solid #ddd;
  border-left: 0px solid #ddd;
  border-right:0px solid #ddd; 
  border-top: 0px;
  border-radius: 1px;
  width: 70%;
}